.page-contact {
  article {
    .wrapper {
      display: flex;
      @include flex-column-to-row($bp-desktop);
      @include flex-children-half($gutter, space-between);
    }
  }

.map {
    iframe {
      width: 100%;
      height: 300px;
    }
  }

  dt {
    display: inline;
    width: auto;

    &:after {
      content: ': '
    }
  }

  dd {
    display: inline;
    @include margin-left(0);
    @include line-break;
  }
}
