<section class="advice-centre">
  <h1>Advice Centre</h1>

  <div class="wrapper">
    <div class="list">
      {% for item in site.data.advice-centre %}
        <div class="advice-card">
          <header>
            <h1>{{ item.title }}</h1>
          </header>

          <div class="content">
            {% for paragraph in item.content %}
              <p>{{ paragraph }}</p>
            {% endfor %}

            <a href="{{ item.url }}">Read More</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
