section.contact#contact
  .wrapper
    .content
      h1 Contact

      div(itemscope, itemtype="//schema.org/Organization")
        dl
          dt Phone
          dd
            a(href="tel:{{ site.contact.tel.value }}")
              span(itemprop="telephone") {{ site.contact.tel.display }}
          dt Email
            dd
              a(href="mailto:{{ site.contact.email }}")
                span(itemprop="email") {{ site.contact.email }}

        p(itemprop="address", itemscope, itemtype="//schema.org/PostalAddress")
          span(itemprop="streetAddress") 7190 Lantzville Road
          br
          span(itemprop="addressLocality") Lantzville, BC
          span(itemprop="postalCode")  V0R 2H0

        p(itemprop="address", itemscope, itemtype="//schema.org/PostalAddress") Mailing Address:
          br
          span(itemprop="streetAddress") P.O. Box 70
          br
          span(itemprop="addressLocality") Lantzville, BC
          span(itemprop="postalCode") V0R 2H0

      p
        h5 We look forward to hearing from you regarding any tax or account questions you may have.

    .map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.3642330699577!2d-124.07657908332402!3d49.25054187932773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5488992f58da00df%3A0x8654d30b29b5617b!2s7190+Lantzville+Rd%2C+Lantzville%2C+BC+V0R+2H0!5e0!3m2!1sen!2sca!4v1521776908261", frameborder="0", style="border:0" allowfullscreen)
