section.contact#contact
  .wrapper
    .content
      h1 Contact

      dl
        dt Call
        dd
          a(href="tel:{{site.contact.tel}}") {{ site.contact.tel }}
        dt Email
        dd
          a(href="mailto:{{ site.contact.email }}") {{ site.contact.email }}

      h2 New Office Location

      p During the week of July 24, 2017, KMA moved to a new location that will better suit our growing firm. The new address is:

      p This new location is less than 10 minutes from our current office and very easy to find. We are located next to the Lantzville Municipal Hall on Lantzville Road.

      p Our phone number has changed to (250) 390-4131 but our old number will be automatically forwarded to the new number. Our email contact information will remain the same.

    .map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.3642330699577!2d-124.07657908332402!3d49.25054187932773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5488992f58da00df%3A0x8654d30b29b5617b!2s7190+Lantzville+Rd%2C+Lantzville%2C+BC+V0R+2H0!5e0!3m2!1sen!2sca!4v1521776908261", frameborder="0", style="border:0" allowfullscreen)
