.email-capture#email-capture
  .image

  .wrapper
    .content
      h1 Sign up for our newsletter

      p
        | Latest news, tips,
        | accounting checklists

      small Please allow us to help with all your reporting needs

    form
      label(for="first-name") First Name
      input#first-name

      label(for="email") Email
      input#email

      button.button.button--accent.button--short(type="submit") Sign-up
