footer.site-footer
  .wrapper
    a.site-logo(href="/") {{ site.name }}

    nav
      a(href="/") Home
      a(href="/services") Services
      a(href="/about") About
      a(href="/contact") Contact

    .site-copyright
      | {% include fragment/html-copyright.html %}
      a(href="/privacy") Privacy Policy
