footer.site-footer
  .wrapper
    a.site-logo(href="/") {{ site.name }}
    p &nbsp;
    //- Invisible spacing above because I'm not touching CSS with this PR

    nav
      a(href="/") Home
      a(href="#") Services
      a(href="/about") About
      a(href="#contact") Contact

    .site-copyright
      | {% include fragment/html-copyright.html %}
      a(href="/privacy") Privacy Policy
