header.site-header
  .wrapper
    a.site-logo(href="/") {{ site.name }}

    nav.secondary-nav
      a.nav--tel(href="#")
        i.icon--tel
        | {{ site.contact.tel }}

      a.nav--upload(href="#")
        i.icon--upload
        span Secure File
        | Upload

      a.nav--facebook.image-replacement(href="#")
        i.icon--facebook
        | Facebook

      a.nav--twitter.image-replacement(href="#")
        i.icon--twitter
        | Twitter

      a.nav--linkedin.image-replacement(href="#")
        i.icon--linkedin
        | Linkedin
