header.site-header
  .wrapper
    a.site-logo(href="/") {{ site.name }}

    nav.secondary-nav
      a.nav--tel(href="tel:+1.{{ site.contact.tel }}")
        i.icon--tel
        | {{ site.contact.tel }}

      a.nav--upload(href="https://upload-kmacpa.titanfile.com/")
        i.icon--upload
        span Secure File
        | Upload

      //- a.nav--facebook(href="#")
      //-   i.icon--facebook
      //-   span.image-replacement Facebook

      a.nav--twitter(href="https://twitter.com/kmacpaca")
        i.icon--twitter
        span.image-replacement Twitter

      //- a.nav--linkedin(href="#")
      //-   i.icon--linkedin
      //-   span.image-replacement Linkedin
