header.site-header
  .brand-header.wrapper
    label(for="mobile-nav").mobile-nav-toggle
      i.icon

    a.site-logo(href="/") {{ site.name }}

    .secondary-nav
      a.nav--tel(href="tel:{{ site.contact.tel.value }}")
        i.icon--tel
        | {{ site.contact.tel.display }}

      a.nav--upload(href="{{ site.contact.upload }}")
        i.icon--upload
        span Secure File
        | Upload

      a.nav--facebook(href="{{ site.contact.facebook }}")
        i.icon--facebook
        span.image-replacement Facebook

  | {% include components/site-nav %}
