header.site-header
  .brand-header.wrapper
    label(for="mobile-nav").mobile-nav-toggle
      i.icon

    a.site-logo(href="/") {{ site.name }}

    | {% include components/secondary-nav.html %}
  | {% include components/site-nav.html %}
