.hero
  .image

  .wrapper
    .content
      h1 Trusted <br />Accounting <br />Services

      p One of the few firms that provides both U.S. and <br />Canadian Tax Preparation services for individuals<br /> and corporations in the mid island region.</p>

      a.button.button--ghost.button--round(href="#services")
        | Services <i class="icon icon--arrow"></i>

  | {% include components/floating_buttons.pug %}
