section.services
  h1#services Services
  .wrapper.list
    .service
      h2 Personal Taxes
      p we prepare everything from the simplest to some of the most complex personal returns.
      a.button.button--block(href="/services/personal-taxes") Learn More

    .service
      h2 U.S. Taxes
      p Our team works to stay current on current developments. We offer preparation services for U.S. citizens, greencard holders and for those that have U.S. filing requirements.
      a.button.button--block(href="/services/us-taxes") Learn More

    .service
      h2 Business Services
      p Our financial statement assurance services are timely, efficient and informative.
      a.button.button--block(href="/services/business") Learn More

    .service
      h2 Tax Forms
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis nulla ultrices, scelerisque velit.
      a.button.button--block(href="/services/tax-forms") Learn More
