.site-nav
    .wrapper
      ul
        li
          a(class="{% if page.class contains 'home' %}is-active{% endif %}", href="/")
            span Home
        li
          div(class="{% if page.class contains 'services' %}is-active{% endif %}").link
            span Services
          ul
            li.mega-menu.wrapper
              ul.column
                li
                  a.main(href="/services/personal-taxes") Personal Taxes
                li
                  a(href="/services/personal-taxes/#canadian-personal-trust-tax-returns") Canadian Personal & Trust Tax Returns
                li
                  a(href="/services/personal-taxes/#final-estate-returns") Final & Estate Returns
                li
                  a(href="/services/personal-taxes/#foreign-reporting") Foreign Reporting
                li
                  a(href="/services/personal-taxes/#canadian-tax-filling-non-residents") Canadian Tax Filling For Non-Residents
                li
                  a(href="/services/personal-taxes/#estate-planning") Estate Planning
                li
                  a(href="/services/personal-taxes/#business-valuations") Business Valuations
              ul.column
                li
                  a.main(href="/services/us-taxes") U.S. Taxes
                li
                  a(href="/services/us-taxes/#personal-returns") U.S. Personal Federal & State Returns
                li
                  a(href="/services/us-taxes/#obtain-tax-number") Obtaining a U.S. Tax number (ITIN)
                li
                  a(href="/services/us-taxes/#renew-tax-number") Renewing Your U.S. Tax Number (ITIN)
                li
                  a(href="/services/us-taxes/#corporate-returns") U.S. Corporate Federal & State Returns
                li
                  a(href="/services/us-taxes/#foreign-bank-report") Foreign Bank Account Report (FBAR) - Your Non-US Bank & Investments
                li
                  a(href="/services/us-taxes/#reporting-requirements") Additional U.S. Reporting Requirements
                li
                  a(href="/services/us-taxes/#canadian-us-income") Canadians With U.S. Income
              ul.column
                li
                  a.main(href="/services/business") Business Services
                li
                  a(href="/services/business/#accounting-audit") Accounting & Audit Services
                li
                  a(href="/services/business/#corporate-tax") Corporate Tax Services
                li
                  a(href="/services/business/#consulting") Consulting Services
                li
                  a(href="/services/business/#succession-planning") Succession Planning
                li
                  a(href="/services/business/#bookkeeping") Bookkeeping & Payroll Services
                li
                  a(href="/services/business/#corporate-restructuring") Corporate Restructuring
                li
                  a(href="/services/business/#starting") Starting A Business

        li
          a(class="{% if page.class contains 'about' %}is-active{% endif %}", href="/services/tax-forms")
            span Tax Forms
        li
          a(class="{% if page.class contains 'about' %}is-active{% endif %}", href="/about")
            span About
        li
          a(class="{% if page.class contains 'contact' %}is-active{% endif %}", href="/contact")
            span Contact
