.back-to-top {
  display: none;
  position: fixed;
  bottom: $gutter--large;
  right: $gutter--large;
  background-color: rgba(255, 255, 255, 0.7);

  @include box-shadow;

  // do not render on devices
  @media screen and (max-width: $bp-desktop - 0.1) {
    display: none !important;
  }

  a {
    display: flex;
    color: $color-grey;
    text-decoration: none;
    padding: $gutter $gutter--medium;
  }

  i {
    height: 16px;
    width: 16px;
    margin-right: $gutter;
  }

  path {
    fill: currentColor;
  }
}
