.site-nav {
  background-color: $color-background--light;
  display: none;
  max-height: calc(100vh - #{$mobile-header-size});
  overflow-y: scroll;
  position: relative;

  @media screen and (max-width: $bp-desktop - 0.1) {
    max-width: none;
  }

  @media screen and (min-width: $bp-desktop) {
    display: inherit;
    background-color: $color-background--dark;
    overflow: visible;
  }

  ul {
    list-style: none;
    margin: 0;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
    }
  }

  ul > li > ul {
    @media screen and (min-width: $bp-desktop) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 999;
    }
  }

  .wrapper > ul > li.hover > ul,
  .wrapper > ul > li:hover > ul {
    @media screen and (min-width: $bp-desktop) {
      display: block;
      background-color: $color-background--light;
      border-bottom: 5px solid $color-background--dark;
      @include box-shadow(0, 4px);
    }
  }

  a,
  .link {
    display: block;
    text-decoration: none;
    padding: $gutter $gutter--medium;
    display: flex;
    align-items: center;
    color: $color-text-body;
    transition-property: color, background-position;
    transition: 300ms ease-in-out;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    background-size: 200%;
    background-position: bottom;

    @media screen and (min-width: $bp-desktop) {
      color: $color-text--light;
      padding: 0;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 0 $gutter--large;
      text-transform: uppercase;

      @include body-large;
    }

    @media screen and (min-width: $bp-desktop) {
      height: 88px;
    }

    &:hover,
    &.is-active {
      background-position: top;
      color: $color-brand-two;
    }
  }

  li li a {
    padding-left: $gutter--medium * 2;
    text-transform: inherit;
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      padding-left: $gutter--medium * 2;
      color: $color-text-body;
      font-weight: 500;
      @include h5;
      height: auto;
      margin: $gutter--medium 0;
    }

    &:hover {
      color: $color-brand-one;
    }

    &.main {
      display: block;
      @media screen and (min-width: $bp-desktop) {
        color: $color-text-body;
        font-weight: 700;
      }
    }
  }

  .mega-menu.wrapper {
    @media screen and (max-width: $bp-desktop - 0.1) {
      display: block;
    }

    @media screen and (min-width: $bp-desktop) {
      justify-content: space-between;
      padding-top: $gutter--medium;
      padding-bottom: $gutter--medium;
    }
  }

  .column {
    @media screen and (min-width: $bp-desktop) {
      flex-grow: 1;
      flex-shrink: 1;
      position: static;
      display: flex;
      flex-direction: column;
      max-width: calc((100% - (2 * #{$gutter--medium})) / 3);

      li {
        margin-bottom: $gutter;
      }

      a {
        line-height: 1.2;
      }
    }
  }
}
