.floating-buttons {
  position: fixed;
  right: 0;
  top: 33%;
  transform-origin: bottom right;
  transform: rotate(-90deg);
  display: flex;
  z-index: 1;

  a {
    margin-right: $gutter--medium;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    @include box-shadow;
  }
}
