.site-header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: $color-background--light;

  @include box-shadow;

  @media screen and (min-width: $bp-desktop) {
    position: static;
  }
}
