.mobile-nav-toggle {
  position: absolute;
  top: 0;
  left: 0;
  flex: none;
  height: -size($size-header);
  width: -size($size-header);
  cursor: pointer;
  display: flex;
  z-index: 1000;

  @include padding($gutter);

  @media screen and (min-width: $bp-desktop) {
    display: none;
  }

  i {
    flex-grow: 1;
    background-image: url('/assets/icons/bars.svg');
  }
}

#mobile-nav {
  display: none;

  &:checked {
    ~ .site-header .site-nav {
      display: block;
    }

    ~ .site-header .brand-header .mobile-nav-toggle i {
      background-image: url('/assets/icons/times.svg');
    }

    ~ main {
      height: calc(100vh - -size(#{$size-header}));
      overflow: hidden;
    }
  }
}
