section.feature
  .wrapper
    h1 Accounting

    .image
      img(src="/assets/img/office-1209640_1920.jpg")

    .content
      p If your business needs financial statements prepared, reviewed or audited, our team can deliver the highest quality service. Our reports include Notice to Reader, Review Engagement or Audit Opinions. In addition to this we prepare a number of special reports for all types of engagements which include: meeting the compliance needs of professional organizations and other users of financial information. The preparation of financial information is the beginning of a process where we work with our clients to assist in the planning of our clients affairs.
