section.advice-centre
  h1 Advice Centre

  .wrapper
    .cards
      .advice-card
        header
          h1 What is estate planning?

        .content
          p Estate planning is developing a plan that will deal with your affairs after you are gone. While this may sound simple, it is surprising how often simple planning saves the family a great deal of and frustration…
          p <a href="#">Read More</a>

      .advice-card
        header
          h1 Do I need to file a U.S. Tax return?

        .content
          p The first question that needs to be answered is “are you an American citizen?” Citizenship laws are something that is a complex maze, but generally speaking if you were born in the U.S., you are an American citizen…
          p <a href="#">Read More</a>

      .advice-card
        header
          h1 What is succcession planning?

        .content
          p Succession planning is the process of identifying a strategy that allows the current business owner to transition out of day to day management of his/her business and start the transition…
          p <a href="#">Read More</a>
