section.feature--even
  .wrapper
    h1 Income Tax

    .image
      img(src="/assets/img/accountant-accounting-adviser-advisor-159804.jpg")

    .content
      p At KMA Chartered Professional Accountants Ltd. we work with you to you achieve your business and career goals. We work to understand you and your business in order to provide value added solutions. We are constantly working to maintain our technical knowledge to ensure that you receive tax advice that generates tax savings and helps you to preserve your wealth. Our services range from personal and corporate tax preparation, to tax planning and helping you deal with Canada Revenue Agency disputes. We are one of the few firms that provides both U.S. and Canadian Tax Preparation services for individuals and corporations in the mid island region.
