section.feature
  .wrapper
    h1 Who are we

    .image
      img(src="/assets/img/pexels-photo-423368.jpg")

    .content
      p At KMA Chartered Professional Accountants Ltd., our team of experienced Chartered Professional Accountants can help you and your business with all of your reporting requirements. Our commitment to our clients is to maintain a robust technical and competence resource pool in order to help our clients with all of their personal or corporate reporting needs. At KMA Chartered Professional Accountants Ltd. we deal with a broad range of businesses, including not-for-profit organizations, and can meet just about any reporting need.

      p <a class="button button--accent" href="#">Learn More</a>
