@font-face {
  font-family: 'SourceSans';
  src: url('/assets/fonts/sourcesanspro-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSans';
  src: url('/assets/fonts/sourcesanspro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('/assets/fonts/clearsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClearSans';
  src: url('/assets/fonts/clearsans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/assets/fonts/aileron-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/assets/fonts/aileron-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/assets/fonts/aileron-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/assets/fonts/aileron-heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/assets/fonts/aileron-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url('/assets/fonts/aileron-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
