/*

  Core
  ---
  Setup important variables, creating the foundation of the framework

*/
$mobile-header-size: 56px;
$desktop-header-size: 80px;

// All spacing metrics based on this.
$global-baseline: 8px !default;

// Multiplication factor for spacing units
$global-spacing-factor-tiny:   1 !default; // 8px
$global-spacing-factor-small:  2 !default; // 16px
$global-spacing-factor:        4 !default; // 32px
$global-spacing-factor-large:  8 !default; // 64px
$global-spacing-factor-huge:  16 !default; // 128px

$bp-phone: 20em;
$bp-tablet: 48em;
$bp-desktop: 64em;
$bp-large: 77em;
$bp-extra-large: 90em;

$breakpoints: (
  'phone': $bp-phone,
  'tablet': $bp-tablet,
  'desktop': $bp-desktop,
  'large': $bp-large,
  'extra-large': $bp-extra-large
);

// Spacing values - created from the baseline * factor.
// Not recommended to alter these. Use the parameters above.
$global-spacing-unit:       $global-baseline * $global-spacing-factor !default;
$global-spacing-unit-tiny:  $global-baseline * $global-spacing-factor-tiny !default;
$global-spacing-unit-small: $global-baseline * $global-spacing-factor-small !default;
$global-spacing-unit-large: $global-baseline * $global-spacing-factor-large !default;
$global-spacing-unit-huge:  $global-baseline * $global-spacing-factor-huge !default;

$gutter: $global-baseline;
$gutter--ns: $global-spacing-unit-tiny;
$gutter--medium: $global-spacing-unit-small;
$gutter--large: $global-spacing-unit;

// Base typographical styles.
$global-font-size: 16px !default;
$global-font-smoothing: false !default;
$global-line-height: $global-spacing-unit !default;

$fonts: (
  body: 'ClearSans',
  display: 'Aileron',
);

// Colors
$fruit-salad: #60A24F;
$gun-powder: #414456;
$glacier: #6EACC2;
$jumbo: #83848C;
$surf-crest: #cce2c7;
$french-grey: #c1c3c9;
$botticelli: #d1e5ec;
$martinique: #32364C;

$color-grey--darkest: #000;
$color-grey--dark: $martinique;
$color-grey: $jumbo;
$color-grey--light: #F1F1F1;
$color-grey--lightest: #fff;

$color-green: $fruit-salad;
$color-green--lighter: $surf-crest;

$color-blue: $gun-powder;
$color-blue--lighter: $french-grey;

$color-light-blue: $glacier;
$color-light-blue--lighter: $botticelli;

$color-brand-one: $fruit-salad;
$color-brand-two: $gun-powder;
$color-brand-three: $glacier;
$color-brand-four: $jumbo;

$color-brand-one--light: $surf-crest;
$color-brand-two--light: $french-grey;
$color-brand-three--light: $botticelli;

$color-text-body: $color-grey--dark;
$color-text--light: $color-grey--lightest;
$color-background--dark: $color-grey--dark;
$color-background--light: $color-grey--lightest;

$color-shadow: rgba(0, 0, 0, 0.5);
