article {
  @include margin-top($gutter);

  @media screen and (min-width: $bp-tablet) {
    @include margin-top($gutter--large);
  }

  > h1 {
    text-align: center;

    @include margin-center;
    @include font-display;
    @include h1;

    span {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        display: block;
        height: 3px;
        left: 0;
        right: 0;

        background: linear-gradient(to right, transparent 9.9%, currentColor 10%, currentColor 90%, transparent 90.1%);
      }
    }
  }

  p {
    @include margin-bottom($gutter);
  }

  section {
    flex-direction: column;

    @include wrapper;

    h1 {
      text-align: left;
      font-weight: normal;

      @include font-display;
      @include h2;
    }

    h2 {
      font-weight: bold;

      @include margin-vertical($gutter--large, $gutter);
      @include h4;
      @include font-display;

      @media screen and (min-width: $bp-desktop) {
        @include margin-bottom($gutter--large);
      }
    }

    ul {
      @include avoid-column-break;
    }
  }

  [class^=columns] {
    @media screen and (min-width: $bp-tablet) {
      @include margin-bottom($gutter--large);
    }
  }

  aside {
    .definition {
      display: flex;
      flex-direction: column;

      @include margin-bottom($gutter--large);

      @media screen and (min-width: $bp-tablet) {
        flex-direction: row;
      }

      h1 {
        flex-basis: 25%;
        font-weight: 700;

        @include margin-right($gutter);
        @include font-display;
        @include h5;
      }

      .details {
        flex-basis: 75%;
      }
    }
  }

  .alternate {
    background-color: $color-brand-three--light;

    @include padding($gutter);
  }
}
