.button {
  color: $color-text--light;
  background-color: $color-brand-three;
  border-color: currentColor;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
  border-width: 0;
  padding: 9px 15px;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  @include body;
  @include h5;

  @media screen and (min-width: $bp-tablet) {
    padding: 18px 30px;
  }


  &:hover {
    background-color: lighten($color-brand-three, 10%);
  }

  &--ghost {
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 22%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 50.1%,rgba(255,255,255,0) 99%);
    background-size: 200%;
    background-position: right;
    border-width: 2px;
    border-style: solid;
    font-weight: 700;
    transition-property: color, background-position;
    transition: 300ms ease-in-out;

    path {
      transition: fill 300ms ease-in-out;
    }

    &:hover {
      color: $color-brand-three !important;
      background-position: left;

      path {
        fill: $color-brand-three;
      }
    }
  }

  &--round {
    border-radius: 100px; // over the top but rounds evenly
  }

  &--accent {
    background-color: $color-brand-one;

    &:hover {
      background-color: lighten($color-brand-one, 10%);
    }
  }

  &--block {
    display: block !important;
    width: 100%;
  }

  &--short {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.button .icon {
  margin-left: 10px;
}

a.button {
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: $color-text--light;
  }
}


