/*

  Layout
  ---

*/

@mixin wrapper-sizing {
  width: 100%;
  max-width: calc(100vw - (2 * #{$gutter}));

  @media screen and (min-width: $bp-tablet) {
    max-width: calc(#{$bp-tablet} - (2 * #{$gutter}));
  }

  @media screen and (min-width: $bp-desktop) {
    max-width: calc(#{$bp-desktop} - (2 * #{$gutter--large}));
  }

  @media screen and (min-width: $bp-large + 0.1) {
    max-width: calc(#{$bp-large} - (2 * #{$gutter--large}));
  }

  @media screen and (min-width: $bp-extra-large + 0.1) {
    max-width: calc(#{$bp-extra-large} - (2 * #{$gutter--large}));
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  > *:first-child {
    margin-top: 0 !important;
  }
}

@mixin wrapper {
  @include margin-center;
  @include wrapper-sizing;
}

[class*="wrapper"] {
  @include wrapper;
}
