/*

  Layout
  ---

*/

@mixin wrapper {
  display: flex;
  width: 100%;
  @include margin-center;

  max-width: calc(100vw - (2 * #{$gutter--medium}));

  @media screen and (min-width: $bp-tablet) {
    max-width: calc(#{$bp-tablet} - (2 * #{$gutter--large}));
  }

  @media screen and (min-width: $bp-desktop) {
    max-width: calc(#{$bp-desktop} - (2 * #{$gutter--large}));
  }

  @media screen and (min-width: $bp-large + 0.1) {
    max-width: calc(#{$bp-large} - (2 * #{$gutter--large}));
  }

  @media screen and (min-width: $bp-extra-large + 0.1) {
    max-width: $bp-extra-large;
  }
}

[class*="wrapper"] {
  @include wrapper;
}
