---
permalink: /about/index.html
layout: regular
class: about
---

article
  h1
    span About

  section
    h1 About Kma

    .columns--two
      p At KMA Chartered Professional Accountants Ltd., our team of experienced Chartered Professional Accountants can help you and your business with all of your reporting requirements. Our commitment to our clients is to maintain a robust technical and competence resource pool in order to help our clients with all of their personal or corporate reporting needs. At KMA Chartered Professional Accountants Ltd. we deal with a broad range of businesses, including not-for-profit organizations, and can meet just about any reporting need. Our team of experts, prepare financial reports using all of the accounting standards, including International Financial Reporting Standards (IFRS).

  .alternate
    section
      h1 Professional Standards

      .columns--two
      p KMA Chartered Professional Accountants Ltd. believes that it has a responsibility to provide the highest level of skills possible for all engagements. To satisfy this responsibility, we are committed to the continuing education of our personnel and dedicated to the experienced supervision of all work.

      p We believe that we always produce work of high quality and have developed our auditing procedures to be able to deal with the most demanding requirements of our clients. From the beginning, we have been committed to maintaining high professional standards and have established permanent departments with full time staffing for quality control and professional development.

  section
    h1 Firm Experience

    .columns--two
      p Our firm has experience with an extensive and varied clientele. The scope of this practice includes:

      ul.breakable
        li Major construction companies
        li Consulting and management companies, including lawyers, doctors, chiropractors and engineers
        li The farming and fishing industries
        li The wholesale and retail food industries
        li A number of diversified investment holding companies
        li Logging and wood manufacturing companies
        li Personal income tax returns (Canada and U.S.)
        li Final Returns and non-resident filings
        li Family Trust Returns
        li Trust audits
        li Strata corporations’ audits and reviews
        li Public company audits
        li Not for profit societies
