---
title: Business Services
permalink: /services/business/index.html
layout: default
class: services
---

article
  h1
    span Business Services

  section#accounting-audit
    h1 Accouting & Auditing Services

    .columns--two
      p KMA Chartered Professional Accountants Ltd. is committed to exceeding our clients’ expectations by providing high quality, cost effective accounting and assurance services. Our financial statement assurance services are timely, efficient and informative. We believe that the needs of the business owners should drive when financial statements should be completed, not when it is convenient for us. We take pride in the trust given to our statements by financial institutions, business owners, government agencies and other taxing authorities.

      p The KMA Chartered Professional Accountants Ltd. team understands what financial statements a business needs vary in scope and cost and are dependent upon the needs of those reading the financial statements. Service levels include:

      ul.breakable
        li
          strong Audit:
          |  An examination made in accordance with Canadian Audit Standards. The goal of an audit is to be able to express an opinion that the statements present fairly the financial position and results of operations. Audited financial statements are usually required to be presented in accordance with Generally Accepted Accounting Principles (GAAP). Audits are the most expensive form of financial statement report as this report requires the most work.
        li
          strong Review:
          |  A review engagement applies analytical procedures to allow us to provide assurance that nothing has come to our attention that indicates that the financial statements are not in accordance with generally accepted accounting principles. Reviewed financial statements are usually required to be presented in accordance with Generally Accepted Accounting Principles (GAAP). Reviewed financial statements are less expensive than an audit, as less direct testing of transaction and balances are performed.
        li
          strong Notice to Reader:
          |  Notice to Readers are generally applied to financial statements where a lower level of assurance is required by the users of the statements. This is the simplest form of report by accountants, and is usually all that is required if the only people reading the financial statements are the owners of the business.

    h2 How Do You Decide What Report Is Right For Your Business?
    .columns--two
      p Our team will meet with you to discuss what is the right financial statement report for your business. We believe that identifying the report needed not just for today, but for the foreseeable future. We will work with business owners to identify what is required for the year end engagement, and what can be done to minimize the costs to owners.

      p The KMA Chartered Professional Accountants Ltd. team strives to:

      ul
        li Identify the optimal level of financial statement assurance required
        li Minimize your company’s tax exposure
        li Provide recommendations to minimize risks and address internal control weaknesses
        li Recognize opportunities for growth, efficiencies and operational improvements

  .alternate
    section#corporate-tax
      h1 Corporate Tax Services

      h2 Corporate Tax Planning
      .columns--two
        p The KMA Chartered Professional Accountants Ltd. team knows that minimizing their overall tax bill each year is a top priority for business owners. Our experienced team want to help you achieve this goal. From corporate structure, shareholder pay to intercompany transactions, our team reviews all facets of your business to ensure you pay the least amount of tax possible.

        p Our team provides a full range of corporate tax planning services, including:

        ul
          li Tax planning for current year income and suggesting future structures to minimize taxes
          li Advice on the tax implications of proposed transactions and new investments including the purchase or sale of a business

      h2 Corporate Tax Compliance
      .columns--two
        p Tax compliance is a cost of doing business. It seems every few years that a new report has to be submitted to another layer of government. KMA Chartered Professional Accountants Ltd.’s goal is to help our clients ensure that they stay on top of their reporting requirements.

        p Canada has a complex and continually changing tax environment. Federal and provincial governments are continuously changing the ground rules. This poses a significant tax-compliance burden. We help our clients stay on top of understanding tax regulations that affect their particular business. To minimize your risks, it’s important to work with professionals who can help you manage your tax issues and anticipate the potential impact they will have to you.

        p KMA Chartered Professional Accountants Ltd. will help you meet all of your tax compliance and reporting requirements – both Canadian and US. The range of corporate tax compliance services include:

        ul
          li Preparation of Canadian and U.S. tax and information returns
          li Assistance in determining of tax estimates and installments
          li Advice on Corporate tax strategies
          li Assistance on Corporate Income Tax, Payroll and GST/HST audits
          li Assistance on in dealing with tax authorities for rulings or other clarifications as required

      .columns--two
        .columns--nobreak
          h2 What Else Might Your Company Need To File?

          p KMA is a full service firm. KMA will help your business register for GST, PST and WCB as needed. We will help you understand what needs to filed and when. If you need assistance with preparing these filings, or would just rather have it done for you, KMA will build a solution that works for you.

        .column--no-break
          h2 Payroll Filings

          p If your company has employees, it will need to file T4’s each year. KMA follows up with each corporate client to ensure that they are reminded that these tax forms are due at the end of February. KMA prepares and files the T4’s for many of its clients. Our goal is to ensure that our clients have met this annual filing requirement. If your company needs help with the WCB reports, we can help with that as well.

      .columns--two
        .columns--no-break
          h2 GST & PST

          p Most businesses in Canada are required to collect and remit GST. KMA works with our clients to ensure that the amount report is correct. KMA offers services from preparing the return for our clients to simply being available to answer questions.

        .columns--no-break
          h2 Dividends & Interest

          p If your company paid dividends or interest, it may have to file T5 slips. KMA will help you meet your filing requirements.

      h2 Contractor Payments
      .columns--two
        p If you are a business that is involved in construction as your primary source of income, and you make payments to subcontractors, you are required to report these payments to the Canada Revenue Agency (CRA) each year. KMA works with its contractor clients each year to ensure that this reporting requirement is met.

  section#consulting
    h1 Consulting Services

    .columns--two
      p In every business’s life there are times when you need to speak with someone to bounce ideas off. At KMA Chartered Professional Accountants Ltd. we believe that you should feel comfortable enough to drop by and discuss your ideas with our team. We believe in providing more than just the numbers perspective. When you discuss it with one of our team, you are going to get a common sense, pragmatic view on the idea.

      p Our team can provide advice on a wide range of ideas such as:

      ul
        li How to obtain financing and what will be required to obtain that financing
        li Assistance in assembling the information for financing
        li Negotiating business purchase or sale
        li Advice on internal processes (i.e. – how to develop internal processes to ensure that your business runs smoothly)

  .alternate
    section#succession-planning
      h1 Succession Planning

      h2 What Is Succession Planning?
      .columns--two
        p Succession planning is the process of identifying a strategy that allows the current business owner to transition out of day to day management of his/her business and start the transition to retirement. As part of succession planning is consideration of eventual selling of the business to the new management team.

      h2 Why Is It Some Important For Current Business Owners?
      .columns--two
        p For many family owned businesses, the business is the single largest asset they own. This asset represents how they will fund retirement. Therefore, ensuring that full value that the business represents is captured is absolutely essential for a successful retirement.

        p Succession planning should be something that is considered years before the business actually sold. Some of the points that need to be considered:

        ul
          li Who will take over the running of the day to day business?
          li Does the new team have what it will take to run the business?
          li How will the eventual sale of the business take place?
          li Should you sell some or all of your business assets?
          li Are there tax strategies that can be utilized to ensure that you retain as much of the sale price as possible?
          li What are some of the other factors that need to be considered such as when will this take place?
          li How can the KMA Chartered Professional Accountants Ltd. team help?

        p We start by having discussions with our clients over how they plan to eventually step away from their business. This is not something that should wait until health or interest prevents you from working. It is a process that should be started years before.

        p Next we go over the steps of transition, the options and points for every business owner to consider. We will help you develop a tax strategy, and if needed how to reorganize your corporate holdings to ensure that transition is done is the most tax efficient strategy.

        p We discuss the options of how to sell your business, be all or some of it. For example, if you don’t need all of the proceeds right away, there can be advantages to receiving payment over time.

        p Succession planning is a process that takes time and effort. We recognize that every business owner is busy and it is easy to put aside these important questions. At KMA, we are here to help you.

  section#bookkeeping
    h1 Bookkeeping & Payroll Services

    h2 Bookkeeping Services
    .columns--two
      p Our bookkeeping department provides a wide range of services, from assembling your small businesses results for your tax year end, to regular ongoing record keeping. Our team can provide ongoing advice to your staff on technical matters related to bookkeeping.

    h2 How Much Does It Cost?
    .columns--two
      p Many times, people focus upon the hourly rate, assuming that all bookkeepers are the same. But like so much in business, no two services are the same. What the KMA Chartered Professional Accountants Ltd. team believe is that business owners should look at the overall value of services provided.

      p Good bookkeeping services should achieve three goals for your business:

      ul
        li Free up your time to allow you to focus upon your business
        li Ensure that your books and records are in good order, in a timely manner
        li Keep you out of trouble.

      p Over the years, KMA has had to help clients sort out their books and records and figure out what taxes are owed. Time and time again, it was apparent that much of this difficulty could have been avoided had the various required filings been dealt with at the time.

      p While competent bookkeepers appear to cost more in the short run, good bookkeepers save you money through ensuring your records are complete and accurate. Good bookkeepers help you stay on top of the maze of government reports. What appears to be a simple mistake can be a costly error later on.

      p Our philosophy is that your record keeping should be driven by your needs, not the other way around.

      p There are a wide range of services offered:

      ul
        li Ongoing bookkeeping services
        li Advice on the design of the general ledger in order to meet your reporting needs.
        li Advice on technical matters for your bookkeeping staff
        li Regular payroll services (payroll calculations, withholding preparation, Records of Employment and others as needed)
        li T4, T4A, T5 or T5018 reporting (contractor payments)
        li WorkSafe BC reports (WCB)
        li GST/HST reports.

  .alternate
    section#corporate-restructuring
      h1 Corporate Restructuring

      h2 What Is Corporate Restructuring?
      .columns--two
        p Corporate restructuring is to examine the current legal structure of a company to identify the need for potential changes. The reasons for change can be many such as risk management, succession planning and achieving tax efficiencies. Corporate restructuring is not something that can be done on a cookie-cutter basis. It should consider the current owners, future potential owners, the operating environment and resulting potential liabilities and the ongoing cost of maintaining the proposed structure.

        p This is an exercise that takes time and effort to understand the needs of you, your business and consideration of your goals. Once this is done, then alternatives need to be developed, analyzed and discussed. Once that is done, then the plan is implemented.

        p This is not just for big companies. Many small to mid-sized businesses can also benefit from considering restructuring.

        p A common example of corporate structuring is to hold major assets such as real estate in one company and the operations in another. There are a number of reasons for this separation. Some examples are to separate the liability of the operations from this major asset. It can make succession easier as the cost to buy the business is small and the ongoing cash flow from the rental can form part of the retirement income of the former owner(s).

        p At KMA Chartered Professional Accountants Ltd. Our team will work with you to examine your current structure and see if changes are warranted. As part of any restructuring, we always consider, do the benefits of this exercise outweigh the cost.ORPORATE RESTRUCTURING

  section#starting
    h1 Starting A Business

    .columns--two
      p When you start a business, you seem to have as many questions as there are minutes in a day. Topics from do I incorporate a company? Do I register for GST? How about PST? Do I need a business plan? What is a business plan and so on. Starting a business seems to hold a lot of risks and uncertainties, but working with a CPA firm such as KMA can help reduce the risks and help you gain the answers to your questions. Below is a set of typical questions that KMA can help you answer:

    h2 Should You Incorporate Or Not?
    .columns--two
      p The decision of whether or not to incorporate hinges on the answer to the question, do the benefits of incorporating outweigh the extra annual costs of running a corporation? Some of the typical benefits of incorporating are as follows: A corporation allows you to better manage the timing of your income, to allow for the splitting of income amongst family, to allow for the deferral of taxes, to reduce liability that can be associated with running the business.

      p These benefits are weighed against the additional costs of running a corporation versus a proprietorship.

      p Starting as a proprietorship, (when you are not incorporated), is the simplest and least expensive way of starting a business. You can register a business name, obtain a business license and you are about ready to go. You report all the income and expenses on your personal return. One benefit of a proprietorship is that if there are start up losses, then those losses can be used against other sources of income on your personal return.

      p The downside can be that if the business starts to make income, it can push you into a high tax bracket. Especially if your business is cyclical. If your business makes $150,000 one year, then $50,000, the next, all things being equal, you will pay more tax as a proprietorship than if you had run a corporation and had drawn a wage of $75,000 per year.

      p As a proprietor you would pay approximately $53,000 in the scenario above, but if you had incorporated, then you would have paid approximately $31,000 of income tax over the tax years.

      p A discussion with KMA can help you identify the structure of your new business.

    h2 Do I Need To Register For GST And/Or PST?
    .columns--two
      p The rules that determine whether or not you have to register for GST are the same if you incorporate or not. Whether you register for GST is determined by the question will you exceed $30,000 of taxable sales in a 12-month period?

      p There is also the timing question. If you are confident that you will exceed $30,000 of sales and you need to spend money on equipment at the start of the business, then registering before the purchases may make sense as you will be able to claim the amount of GST paid as an Input Tax Credit. (ITC’s reduce the amount of GST you have to remit to CRA)

      p Whether or not you need to register for PST will depend upon you are selling products or services that require you to collect PST. These rules are most complicated than PST and can require some research.

    h2 What About Bookkeeping?
    .columns--two
      p Everyone who has started a business is aware that they need to keep a proper set of records. But very people have set up their own bookkeeping systems. Proper record keeping is absolutely essential to your business success.

      p Factors to consider in whether or not to have someone else do the bookkeeping:

      p Time – the amount of time that the bookkeeping will be driven by the complexity of the bookkeeping requirements and the volume of transactions (Purchases and sales) per month. If you run a simple service business, then the time requirements will be minimal each month. If you are a home builder, where you will need to track expenses by project, you will need to track all of your subcontractors for CRA reporting and you will have a large number of invoices each month, then

      p You should consider, will you even have the time in the week? If you work 9 or 10 hours per day, do you really want to spend a couple of hours in the evening doing your bookkeeping? Another factor to consider is what is the best use of your time? Focusing upon building your business or doing the bookkeeping?

      p Knowledge – do you or a family member have the knowledge to enter the data into an accounting system? We have seen some families where a family member steps forward and eagerly takes on this challenge. We have also seen where no one is even remotely interested. We suggest that this is discussed amongst the family when the business begins and that no one makes any assumptions.

      p
        em Why is good bookkeeping so essential?

      p A good set of records allows you, as the business owner, to identify what is making money and what is not. If can help you identify the areas that you need to improve upon in order to improve your profitability.

      p KMA can help you decide on your bookkeeping needs. We work with our clients to build solutions that work for our clients. As a full service firm, KMA offers bookkeeping services. We can set up your books and record keeping system, and work with you that works for you.

      p A proper set of books allows you to ensure that you are remitting the correct amount of GST, PST and payroll taxes. We express this concern to clients because we have had to help businesses catch up on their tax filings, and it always seems to be a significant challenge for the business and the owners.

    h2 What Tax Filings Do I Have And When Are They Due?
    .columns--two
      p If you are registered for GST, the timing of when you file is determined by the amount of sales and amount of taxes that you must remit each year. PST is typically due each month. If you are required to remit WCB (WorkSafe BC), then it may be quarterly or annually. This is determined by the annual amount to be remitted.

      p KMA can help you determine when each of these taxes must be paid.
