---
title: Welcome
layout: regular
class: home
---

{% include components/floating_buttons.pug %}

{% include components/hero.pug %}

{% include components/service_list.pug %}

{% include components/feature.html item=site.data.features.first %}
{% include components/feature.html item=site.data.features.second %}
{% include components/feature.html item=site.data.features.third %}

{% include components/advice-centre.html %}

{% comment %}
{% include components/email_capture.pug %}
{% endcomment %}

{% include components/feature.html item=site.data.features.fourth %}
