---
title: Personal Taxes
permalink: /services/personal-taxes/index.html
layout: regular
class: services
---

article
  h1
    span Personal Taxes

  section#canadian-personal-trust-tax-returns
    h1 Canadian Personal & Trust Tax Returns

    .columns--two
      p At KMA Chartered Professional Accountants Ltd., we prepare everything from the simplest to some of the most complex personal returns. Our goal is to ensure that your return is prepared properly and accurately. We take the time to go over your return to try and ensure that you get every deduction or credit to which you are entitled.

      p Our clients select our firm as they trust that they are getting the best value for their dollar. When you chose to use a Chartered Professional Accountant you realize that tax preparation is more than just banging numbers into a computer. It takes knowledge, experience and professional judgement to help you deal with your more complex reporting matters. It is not always what is presented that is important, it takes these skills to recognize when something is missing.

      p Many families have trusts for a variety of reasons. We prepare a large number of trust returns each year and can help you with your filing needs.

  section#final-estate-returns
    h1 Final & Estate Returns

    .columns--two
      p When a loved one passes, the surviving family usually has a series of questions and concerns. A surviving spouse is concerned about money, taxes all at a time when he/she is dealing with the trauma of losing a loved one.

      p Dealing with the final return and the estate raises a number of questions and concerns for the family and the person administering the estate. The reason that there are so many questions is that most people have to deal with an estate once in a lifetime. Below is a list of the typical set of questions:

      ul.breakable
        li Who do I need to let know that the person has passed?
        li When do I have to have the final return filed?
        li How much tax is this going to cost?
        li Do I need to have the estate probated?
        li When does this all need to be done by?
        li The beneficiaries of the estate are asking when they will get their money?
        li How long will this take?
        li Do I really need to have professional help with these matters?

      p Professionals such as Chartered Professional Accountants and lawyers deal with these questions many times each year as they provide advice and assistance on estates each year. At KMA we strongly encourage anyone dealing with an estate to seek out legal advice and the help of a CPA.

    h2 What Is The Impact Of Someone Passing?
    .columns--two
      p While Canada does not have an inheritance tax, as there is in the US, there are a number of tax consequences that happen when assets such as business, property, stocks and bonds are transferred to the next generation. There is a deemed sale of all of your assets when you pass away. If you have been holding assets for a long time, there may be a significant tax bill associated with that asset.

      p So there are two separate periods to consider. The period up to the date of passing and then the period after the passing.

  aside.alternate
    section
      .definition
        h1 Final Return

        .details
          p This cover the date between the December 31st and the date of passing. All income up to the date of passing goes onto this return. E.g. If interest from a GIC is being earned from the January 1st to July 31st, the date of passing, then the interest for this period goes onto the final return.

          p There are some events that are triggered when a person passes. Pensions, RRSP and RRIF’s can present special challenges and possibly large tax bills. There is the “deemed” disposal of assets. It is referred to as deemed disposal because for Canadian tax purposes, it is if all assets were sold.

      .definition
        h1 Are There Any Other Unusual Tax Considerations When Someone Passes?

        .details
          p In addition to these points, there are special rules regarding previously recorded losses, medical expenses, and other items have special rules that only apply to the final return. There are also option tax returns that may be filed.

      .definition
        h1 The Estate

        .details
          p If a person holds a portfolio of stocks, bonds and other investments, these continue to earn income after the person has passed. The income from the date of death and onward are reported on the Estate return.

          p There are other concerns such as renting out the former house of the deceased, selling a vacation cottage and others that all have to be taken into account when preparing the Estate return.

          p KMA is able to help identify what needs to be reported as part of the Estate returns and the process for winding up the estate.

      .definition
        h1 Clearance Certificate

        .details
          p Once all the tax returns have been filed, and amounts owing are paid, CRA can issue a final “clearance certificates.” There are two different certificates available: one for the final return and one for the Estate. The reason executors should obtain these certificates is to remove the possibility of the Canada Revenue Agency seeking any further tax from the Executor of the Estate.

          p KMA can ensure that all of the requirements to obtain these certificates have been completed and help the executor with the applications.

      .definition
        h1 Other Estate Concerns

        .details
          p There are some special tax rules that apply whenever there is a beneficiary of the estate that does not live in Canada. KMA helps a number of estates each year with these tax matters. When dealing with a non-resident beneficiary requires special certificates to be obtained prior to any payments to these individuals. Ignoring these rules can leave the executor of the estate open to the possibility of significant personal tax liability.

  section#foreign-reporting
    h1 Foreign Reporting

    .columns--two
      p Canada, like many other countries, has what is referred to as “Foreign Reporting.” Foreign Reporting is when a Canadian resident, or a Canadian company, owns non-Canadian assets. For many individuals, owing and renting out a US vacation property will trigger these reporting requirements.

      p The rules that determine what is a foreign asset are detailed and it is typical that individuals need assistance in identifying what are the reportable assets, and what other information must be reported. These forms do not generate income. They are designed to ensure that you are reporting your worldwide income.

      p If your company has a foreign affiliate or you are part of a non-resident trust, you may also have a foreign reporting requirements. KMA can help you identify if you have a reportable

  section#canadian-tax-filling-non-residents
    h1 Canadian Tax Filings For Non-Residents

    .columns--two
      p If you do not live in Canada, but have income from Canada, you may be required to file a Canadian tax return. Or you may decide to file an optional tax return, in order to lower your overall Canadian tax liability.

      p What are some typical non-resident tax returns?

      ul.breakable
        li You own a rental property in Canada. In Canada, you would be required to use a rental agent. This is an individual or company that is required to collect and submit to CRA (the Canada Revenue Agency – Canada’s tax authority) 25% of the gross rents. In order to get some or all of it back, you will need to file an elective return, called a Section 216 return, so that you pay income tax on your net income, not the gross.
        li You are selling your Canadian property. There are several tax withholding and filing requirements that you should be aware of. The first is that when you are not a Canadian resident, (even if you are a Canadian citizen) there is a 25% of the gross sales price withholding requirement. This means that if you sell your vacation property for $400,000, then the lawyer handling the conveyance of title is required to withhold $100,000.
        li
          p In order to reduce the amount withheld, a clearance certificate request must be filed with CRA within 10 days of the sale. A clearance certificate is a request made to the Canadian tax authorities to reduce the amount of taxes that would otherwise be withheld. In the case of a real estate sale, the clearance certificate allows the amount to be withheld to be 25% of the profit on sale. If filed late, the certificate carries a penalty of $25 per day, up to a total of $2,500. Therefore, contacting KMA when you list the house is a step to ensure that there are no delays in processing the request for the certificate.

          p If there are two of you title, then you both need to file a request for a clearance certificate.

        li You receive Canada Pension Plan, Old age security, a Canadian Pension or other retirement related payments, it may sense for you to file a Sec 217 return. This is an optional return where if your taxes that you would have otherwise paid is less than the statutory withholding rate, then it may be filed. It is a mandatory return if you have filed form NR-5 (election to reduce withholding taxes) for every year it is in effect.
        li If you have worked in Canada, or carried on a business in Canada in the year, through a “permanent establishment” (such as an office) you may have to file a Canadian tax return in order to establish your actual Canadian tax liability.

      p There are timing requirements as to when these returns must be filed, so we suggest that you consult with KMA as to your filing requirements.

  aside.alternate
    section#estate-planning
      h1 Estate Planning

      .definition
        h1 What Is Estate Planning?

        .details
          p Estate planning is developing a plan that will deal with your affairs after you are gone. While this may sound simple, it is surprising how often simple planning saves the family a great deal of anger and frustration. Good Estate planning doesn’t come from a generic out of the box solution. It should be developed for each family and takes into consideration that family’s unique situation.

          p We believe that estate planning is a process that takes time and the input of different experts. For example, a lawyer experienced in dealing with family law and writing wills that provides for effective administration of the estate. While people may joke about insurance salespeople, insurance can play a very effective role in an estate plan.

          p At KMA Chartered Professional Accountants Ltd., our team of experienced Chartered Professional Accountants can bring their taxation expertise to help you develop a plan or restructure your holdings to minimize the tax impact of this transfer.

      .definition
        h1 A Bit Of Common Sense <br />Can Go A Long Way

        .details
          p Some matters in estate planning don’t require the advice of an expert. Common sense and a bit of forethought will save a lot of grief. For example, asking family members what special piece of furniture or collectible they would like can save a lot of anger later on. At KMA Chartered Professional Accountants Ltd., we suggest that all families sit down and consider matters such as this.

  section#business-valuations
    h1 Business Valuations

    .columns--two
      p When you are selling or buying a business, the question of “what is it worth?” will come up. Ultimately, what a business is worth is no more than what someone else is willing to pay for it. The KMA Chartered Professional Accountants Ltd. team can assist you in come up with a valuation for your business, or what to offer a business.

      p Valuing a business starts with what a review of its operations to identify what it will earn for the new owner. To do this, it takes knowledge and experience to identify what will change, when owners change. Our team will ask the questions for you to consider in the purchase.

    h2 Assistance With Financing
    .columns--two
      p Once you have decided that you want to buy the business, or you need money for your current business, our team of Chartered Professional Accountants can help you. When you are buying the business, one important question to ask, is will this business make you enough money to live on? KMA Chartered Professional Accountants Ltd. can prepare the analysis that will help to answer this and other questions.

      p If you are looking for financing for your current business, and need someone to discuss it with, start by discussing this with one of our Chartered Professional Accountants. We can discuss what a bank will look for, help you assemble the necessary information and answer many of the questions that you have. We will also work with you and the bank to gather any other information needed.
