---
title: Privacy Policy
permalink: /privacy/index.html
layout: regular
---

article
  h1
    span {{ page.title }}

  section
    p KMA and our staff believe that protecting your privacy is important. Our Policies have been designed to meet your needs and as well, they conform to The Personal Information Protection and Electronic Documents Act which is Federal legislation.

    p The Rules of Professional Conduct and related Council Interpretations of BC Institute of Chartered Professional Accountants require that partners and staff maintain the confidentiality of client and former client information, as well as the confidentiality of Firm information, except in rare and very specific circumstances.

    p The Rules of Professional Conduct of the Provincial Institute of Chartered Provincial Accountants also require that partners and staff not use confidential information for personal advantage, for the advantage of a third party or to the disadvantage of a client, former client or the Firm, unless consent has been obtained from the client, former client or the Firm.

    p As a Profession, CPA’s take your privacy very seriously. KMA embraces this philosophy as its own.

    h2 Cookies

    p We may from time to time use certain information commonly called cookies on your computer to save you time as a Visitor and User of our web site. We do not collect personal information in this fashion. If you do not wish this convenience, your browser will likely enable you to reject cookies.

    h2 Personal Information

    p Personal information includes any factual or subjective information, recorded or not, about an identifiable individual. This includes information in any form, such as:

    ul
      li age, name, ID numbers, income, ethnic origin, or blood type
      li opinions, evaluations, comments, social status, or disciplinary actions
      li employee files, credit records, loan records, medical records, existence of a dispute with a client, intentions (for example, to acquire goods or services, or change jobs)

    p Personal information does not include the name, title, business address or telephone number of an employee of an organization.

    p KMA collects personal information only for the following reasons:

    ul
      li To provide the products or services that you have requested and maintain commercial relations with you;
      li To understand your needs and recommend products and services accordingly;
      li To manage our business which includes partnership and employment matters;
      li To meet legal and regulatory requirements.

    p We will not use your personal information for any other reason without your consent.

    h2 Sharing Of Information

    p We only share your information with third parties to assist in completing the above uses. Any third party’s use must adhere to our privacy policies or be allowed by the legislation. Examples would be an outside payroll service, an agent hired to perform a service for you, a collection agency, a law enforcement agency or emergency services.

    p We may share your information with third parties located in a foreign jurisdiction that may be available to a foreign government or its agencies under a lawful order made in that country. We will not use your personal information for any other reason without your consent, unless required by law.

    p KMA policies are based on a model code for protection of personal information.

    h2 Accountability

    p We have established a Privacy Officer who is part of senior management to ensure our policies are in force.

    p We inform and train staff on privacy issues.

    h2 Identify The Purposes

    p We identify the purpose for collecting information before collecting it.

    h2 Obtain Consent

    p We will obtain consent before collection of information.

    h2 Limit Collection

    p We will only collect the information we need for the stated purpose

    h2 Limit Use, Disclosure And Retention

    p We use information only for the purpose of collection unless we receive consent or are required by law.

    p We have policies as to how long the information is kept.

    p We have policies for the safe destruction of the information.

    h2 Be Accurate

    p We will use our best efforts to keep your information up to date and use Appropriate Safeguards.

    p We have policies to safeguard your information against unauthorized access, disclosure, copying, use or modification.

    h2 Be Open

    p Our clients and employees are informed of our policies and practices for managing personal information.

    h2 Give Individuals Access

    p We will give individuals reasonable access to their information and correct any personal information if its accuracy and completeness is challenged and found to be deficient. There are limited exceptions to this which are set out in the legislation.

    h2 Provide Recourse

    p We will investigate all complaints. Please address them to:

    p Privacy Officer
    | KMA Chartered Professional Accountants

    p Unit C – 5107 Somerset Drive,

    p Nanaimo, BC V9T 2K5
