---
title: Tax Forms
permalink: /services/tax-forms/index.html
layout: default
class: services
---

article
  h1
    span Tax Forms

  section
    .columns--three
      ul.breakable
        li
          a(href="/assets/forms/allowable_motor_vehicle_expenses.pdf") Allowable Motor Vehicle Expenses
        li
          a(href="/assets/forms/fincen-114_worksheet.pdf") FinCEN-114 Worksheet
        li
          a(href="/assets/forms/instructions_for_completing_fincen-114_worksheet.pdf") FinCEN-114 Worksheet Instructions
        li
          a(href="/assets/forms/moving_expenses.pdf") Moving Expenses
        li
          a(href="/assets/forms/office-in-home_usage.pdf") Office In Home Usage
        li
          a(href="/assets/forms/statement_of_business_or_professional_activities.pdf") Statement of Business or Professional Activities
        li
          a(href="/assets/forms/statement_of_business_or_professional_activities_cdn-usd.pdf") Statement of Business or Professional Activities CDN to USD
        li
          a(href="/assets/forms/statement_of_employment_expenses.pdf") Statement of Employment Expenses
        li
          a(href="/assets/forms/statement_of_real_estate_rentals_usd.pdf") Statement of Real Estate Rentals USD
        li
          a(href="/assets/forms/tools_for_preparing_personal_taxes.pdf") Tools for Preparing Personal Taxes
