---
title: U.S. Taxes
permalink: /services/us-taxes/index.html
layout: regular
class: services
---

article
  h1
    span U.S. Taxes

  section#personal-returns
    h1 U.S. Personal Federal & State Returns
    .columns--two
      p KMA Chartered Professional Accountants is one of the largest U.S. tax preparation firms on Vancouver Island. Our team works to stay current on current developments. We offer preparation services for U.S. citizens, greencard holders and for those that have U.S. filing requirements.

    h2 Do You Have A U.S. Filing Requirement?
    .columns--two
      p If you are a U.S. citizen living outside the US did you know that you are supposed to be filing returns? If you are a U.S. citizen, you still have to file a U.S. return, even if you do not have any U.S. source income. Most U.S. citizens living in Canada will not have to pay any U.S. tax, but are still required to file. The U.S. and Canada have a sophisticated tax treaty and the goal is to ensure that you don’t pay tax twice.

      p The KMA Chartered Professional Accountants team will use its knowledge and experience of the tax treaty to ensure that you stay complaint with your U.S. filing requirements.

      p I am not a US citizen, but I do business or own property in the US

      p If you are a Canadian citizen who works part of the year in the U.S., run a business in the U.S., have a rental property in the U.S., you have U.S. filing requirements. Our team can answer your questions on what are your filing requirements and prepare your returns as needed.

    h2 I Am A Us Citizen And I Haven’t Filed In Years. What Do I Need To Know?
    .columns--two
      p Over the last few years, many people who have resided in Canada for years have come to a realization that their ties to the U.S. may require them to file a U.S. tax return.  The United States is different from just about any other country in the world in that it requires U.S. citizens, no matter where they live in the world, to file an annual income tax return.  This makes the U.S. different when compared to countries such as Canada.  Canada taxes based upon “residency,” (where you live).  Your citizenship does not matter.

      p Starting in 2010, and continuing since then, the U.S. has stepped up efforts to ensure that all U.S. citizens are declaring all of their worldwide income.  The most recent effort is the FATCA regulations.  FATCA (Foreign Account Tax Compliance Act) is the law that was introduced to force banks and countries around the world to report accounts held by US citizens.

      p The implication of this is that for many people it is not if the IRS will eventually locate you, it will only be a matter of time.  This means that for many people there is now urgency to filing that did not exist prior to 2014.

      p For many individuals this can be a very overwhelming process.  We urge anyone who is considering what to do with their U.S. filing obligations seek the help of one of our U.S. tax specialists.

    h2 Why else you may want to file?
    .columns--two
      p You have friends and family in the U.S. that you regularly visit.  In a recent IRS report from September 2014, it was identified that the IRS needs to do more to enforce tax filing policies.  One of the possibilities discussed is the concept of stopping people at the border if they have not filed.  This is referred to as a “Customs Hold.”

      p The US will now start to withhold passports for delinquent tax filers. The discussion of the regulations suggestion that you would owe more than $50,000 US owing in taxes. While this may sound like a large number, it is surprisingly easy to hit that. The reason an ordinary person may find out that they are over this amount is that the minimum fine for a FinCEN 114 failure to file penalty starts at $10,000 per year.

    h2 Do I Need To File A U.S. Tax Return?
    .columns--two
      p The first question that needs to be answered is “are you an American citizen?”   Citizenship laws are something that is a complex maze, but generally speaking if you were born in the U.S., you are an American citizen.   If one or more of your parents was born in the U.S., and you were born outside of the U.S., you may be an American citizen.  The actual determination will depend upon how long your parent(s) were in the U.S. after turning age 18.

      p If you hold, or have held a U.S. passport, you are likely an American citizen.

      p Many people who left the U.S. prior to the 1980’s and became a Canadian citizen at that time automatically lost their U.S. citizenship.  But during the latter part of 1980’s, laws were changed and many people who had previously lost their citizenship found that they were now dual citizens.

      p If you are not certain, then you should contact a U.S. consulate to discuss your particular situation.  This is the first step you need to take before filing any U.S. returns.

    h2 How Far Back Do I Have To Go?
    .columns--two
      p As to how far back you have to go will be based upon which program you may fit under for filing.  The U.S. has a process designed to allow delinquent taxpayers to file returns, Foreign Bank Account Reports (FBARs) and any other normally required forms.

      p The U.S. will ask the question; Did you “willfully” avoid filing my tax returns?

      p If you are able to answer “no” to the question, then you will likely qualify for the Streamlined Foreign Offshore Procedures.  The benefit of this is that the penalties for late filing or failure to file penalties will be waived.  The IRS will reserve the right to review your return and whether or not you qualify for this program.

      p You will have to file the following:

      ul
        li The last three years of U.S. Tax Returns, along with any required forms or reports.
        li The last six years of Foreign Bank Account Reports (FinCEN 114)
        li A certification that you did not willfully avoid filing your U.S. returns
        li The good news is that you won’t have to go back and file since you moved to Canada.

    h2 Won’t I End Up Paying Taxes In Canada And The Us?
    .columns--two
      p A common question, and a valid concern, is will you have to pay taxes twice?  Many people think it will be once to Canada and another time to the U.S.  The normal answer is no.  The reason is that Canada and the US have a tax treaty that provides for certain types of tax relief.  E.g. you only pay taxes on social security, Old Age Supplement and Canada Pension in the country where you live.

      p In addition to the tax treaty, you are able to claim “foreign tax credits” for taxes paid in Canada.

      p The net result is that for many individuals, they will not have to pay U.S. taxes.

    h2 What Do You Need To Do Next?
    .columns--two
      ul.breakable
        li Gather up the last three years of personal tax returns.
        li Assemble the last six years of bank, investment and retirement (RRSP, RRIF, LIRA and so on) accounts.
        li If you have a family trust, the last three years of trust returns, and details of distributions.
        li If you have a family corporation, please bring the last three years of financial statements and tax returns.
        li If you have an RESP or TFSA, please bring us the detailed statements for the last three years.
        li If you sold any real estate in the last three years, please assemble the details of cost and sales proceeds.
        li If you sold stocks, bonds or other investments, we will need the details of purchase and sale. (Dates of purchase and sale, values paid or received, any adjustments of value, plus commissions paid)

      p Then phone to book an appointment with one of our U.S. tax specialists to go over your information and to answer any questions.

    h2 Other Points To Remember
    .columns--two
      p Once you start filing U.S. returns, you will need to ensure that you do so each year.  But staying on top of filing is a lot easier than trying to catch up on bank accounts.  In addition, you may not be able to avoid late filing penalties.

  .alternate
    section#obtain-tax-number
      h1 Obtaining A U.S. Tax Number (ITIN)

      .columns--two
        p KMA Chartered Professional Accountants is one of the few IRS approved Certifying Acceptance Agents in British Columbia. We are able to assist in obtaining a U.S. tax number for non U.S. citizens. These are called Individual Tax Identification Numbers (ITIN).

        p There are changing requirements and we suggest that you phone to make an appointment or call to discuss what is the process for obtaining an ITIN.

  section#renew-tax-number
    h1 Renewing Your U.S. Tax Number (ITIN)

    .columns--two
      p Starting in October 2016, the IRS has to start expiring ITIN's. If you currently hold a US ITIN, the IRS will now require that you renew the number. The IRS will send out letters starting in October, based upon your ITIN number, to the last address they have on file for you, informing you that you need to renew your number.

      p The majority of numbers will be required to renew by 2020. In addition, if you do not file a return for three years, then the number will automatically expire. KMA will be able to help you renew your ITIN.

  .alternate
    section#corporate-returns
      h1 U.S. Corporate Federal & State Returns

      .columns--two
        p KMA Chartered Professional Accountants is one of Vancouver Island's largest providers of US tax services. We prepare returns for business owners from across Western Canada. Our team is able to prepare returns for the following services for U.S. registered entities:

        ul.breakable
          li C Corporations returns
          li S Corporation returns
          li LLC returns and slips
          li Non-resident corporations required to file US information returns
          li U.S. information slips (1099s and W-2s)

        p If you are not sure of your reporting requirements, please give one of our US tax specialists a call to discuss.

  section#foreign-bank-report
    h1 Foreign Bank Account Report "Fbar" - Fincen 114 - Reporting Your Non-Us Bank And Investment Accounts

    h2 What Is An Fbar?
    .columns--two
      p An FBAR, refers to an annual report that discloses to the US department of Treasury the highest balance in each bank account that a US person has signing authority on during any point in the year. There is no comparable report in Canada.

    h2 When Is The Fbar Required To Be Filed?
    .columns--two
      p U.S. persons are required to report all Foreign Bank and Financial Accounts, including joint accounts, if the aggregate value of all accounts exceeds U.S. $10,000.  This only applies to accounts outside of the United States.  This is the total for all accounts at any point in the year, not by individual account.

      p
        em For example:

      ul.breakable
        li Joe has a joint chequing account with his wife and it had $8,000 in June.  That was the single largest balance in this account during the calendar year.
        li Joe has a savings account and it had $3,000 in December.  That was the largest balance in the account during the calendar year.
        li Joe has a bank account with a U.S. Bank in Seattle and it had $12,000 U.S. at its peak in the year.
        li Joe has an RRSP with $3,000 at the end of the year.  Earlier in the year in March, he withdrew $4,000.

      p So does Joe trigger the reporting requirement?

      p Yes he does.  When you total the single largest balances in the year, ($8,000 + $3,000 + ($3,000 + $4,000) = $18,000) it is greater than $10,000.  You will note that we did not include the U.S. Bank account as it is not a Foreign Bank account for U.S. reporting purposes.

    h2 What Accounts Do You Include?
    .columns--two

      ul
        li Bank Accounts, such as GIC's, money market funds, chequing or savings
        li Investment Accounts, both registered and non-registered
        li Commodity or investment accounts
        li Insurance policies with a cash surrender value
        li RRSP and RRIF accounts
        li Tax Free Savings Accounts

      p What to Complete on the Form

      ul
        li Part I relates to filer information.
        li Part II applies to Accounts Owned Separately.
        li Part III applies to Accounts Owned Jointly.
        li Parts IV and V would not likely apply to your situation, but would require reporting if they did apply.
        li The default rule is that each person files a separate report regardless of married or not.  If married, spouses may elect to file a joint return so long as all accounts are jointly held.
        li Disclosure of this information is mandatory. Failure to file these reports could result in significant financial penalties (e.g. $10,000 or more).

      p All amounts must be reported in U.S. dollars.  You can obtain exchange rates at from the IRS website under the Treasury Department End-of-Year Exchange Rates: https://www.irs.gov/Businesses/Small-Businesses-&-Self-Employed/Treasury-Department-End-of-Year-Exchange-Rates

      p To assist our clients, please visit our forms section to download a form that will help you gather the necessary information.

      p A note on joint returns:  If an account is held jointly between a U.S. citizen and a non-U.S. citizen, the FBAR requires that the 100% balance is reported.  Balances are not supposed to be divided in half.

      p These reports must be filed by April 15th each year.  These reports do have the option of filing an extension and are filed separately from your 1040.  These reports must be e-filed as the U.S. Department of the Treasury is no longer accepting paper filed reports.  There are no extensions for the financial bank reporting.

      p To assist our clients, please visit our forms section to download a form that will help you gather the necessary information.

      p A note on joint returns:  If an account is held jointly between a U.S. citizen and a non-U.S. citizen, the FBAR requires that the 100% balance is reported.  Balances are not supposed to be divided in half.

  .alternate
    section#reporting-requirements
      h1 Additional U.S. Reporting Requirements

      .columns--two
        p Over and above the filing of U.S. Income Tax Returns, U.S. citizens and residents (Green Card Holders) are required to file additional reports.  One of the key differences between Canada and the US tax systems, is that the US has many more reports that ask questions about what you own, what is worth and what income did you report from that investment. Most of these additional forms are complex and require significant time and effort to complete. Which reports will depend upon what you own and what those assets are worth.  Many of these additional forms are to report what you own outside of the U.S., not what you earned.

        p Below is information on each of the key filing requirements below:

      h2 Foreign Financial Assets - Form 8938
      .columns--two
        p This form is part of the ongoing efforts of the IRS to ensure that U.S. citizens report their worldwide income.  On this form, taxpayers who live outside the United States with foreign financial assets of more than $200,000 (USD), on the last day of the year, or more than $300,000 at any point in the year are required to report the income, deductions and credits that are claimed on the various schedules on the 1040.  If you file jointly, then the amounts are doubled.

        p As with other IRS requirements, the threat of significant penalties has been issued.

        p This test is applied on an aggregate basis.  That means that if you have multiple accounts, you have to add them together to determine if you meet the reporting requirement.  This is very similar to the calculations for the FBAR described previously.

        p
          em What is a Specified Foreign Financial Asset?

        p The IRS defines Foreign Financial Assets as any account that you have with banks, credit unions, investment houses or other financial institution that holds stocks, bonds, securities or any financial instrument or contract. (e.g., gold certificates, GICs, exchange contracts and so on).

        p This reporting requirement applies to all non-U.S. institutions.  If you have an account with a US investment house, but live outside of the U.S., you may be below the reporting threshold.  Even if you are not below the threshold, the U.S. institution is not required to be reported.  The reason is that you exclude all U.S. institutions from report.

        p This form is to be submitted with the tax return.  Please bring the following information for each account that you owned, opened or closed during the year:

        ul
          li Name of the institution;
          li Address of the institution;
          li Account information such as type of asset(s) owned, currency of the asset(s);
          li If acquired/opened during the year, the date of opening/acquisition;
          li If closed or sold during the year, the date of the sale or closure;
          li The maximum value in the account during the year; and
          li The related tax information for each account, such as the T3 or T5 slips issued for that account.  If there are trading summaries or agreements, showing purchases or sales, please include those.

        p
          em Duplication of Effort

        p There is duplication between the 8938 and the Foreign Bank Account Reporting (FBAR) requirements.  The IRS is supposed to be working towards reducing this, but there is no change announced.

      h2 Information Return For US Persons Who Own A Foreign Corporation – Form 5471
      .columns--two
        p This is a form that is required for US citizens who hold 10% or more of the total value of stock.  This is a long complex form that requires the reporting significant amounts of information about the corporation and its financial results.  We suggest that you review the form and the information required.  The link is provided below.

        p If you meet this filing requirement, we will require a copy of the most recent set of financial statements and Canadian tax return for the Company.  We will also need to know your percentage of ownership of the Company.  If you need help on this, please call to book an appointment with one of our U.S. specialists.

      h2 Family Trust - Forms 3520 And 3520A
      .columns--two
        p If you are a US person who is either the Trustee, Beneficiary or both, of a Family Trust, you will have to file Forms 3520 and/or 3520A each year.  These are significant and complex forms that must be filed each year.  The form 3520A is due by March 15th each year and therefore will likely require an extension to be filed to avoid any late filing penalties.

        p If you have a Family Trust, please contact our office early in the year to ensure that the appropriate extensions are filed on time.

        p What we will require each year for the Trust is the following:

        ul
          li A copy of the Trust’s financial statements for the year
          li A copy of the Trust’s T3 Tax Return, along with T3 slips filed, for the year
          li A copy of any resolutions for distributions made in the year

      h2 Registered Education Savings Plans (RESP) And Tax Free Savings Accounts (TFSA)
      .columns--two
        p The IRS does not recognize the non-taxable nature of income received in the TFSA or an RESP.  Therefore, all interest, dividends and capital gains must be reported on your 1040 each year.  In order to report these accounts properly we ask that you obtain the income information in writing from your financial institution where these accounts are located.

        p U.S. Persons who have these Canadian plans are also subject to special reporting requirements.  RESP’s and TFSA’s meet the IRS definition of a Foreign Grantor Trust.  A foreign Grantor Trust is a “Trust” that is not constituted under US law and that the person filing taxes is considered to be the “owner.”  This means that the filing requirements for forms 3520 and 3520-A have to be reviewed each year to determine if one or both of these forms need to be filed.

        p As mentioned previously, these are significant and complex forms.  They are time consuming and there can add significantly to filing costs each year.  For many individuals, continuing to hold these special accounts should be weighed against the additional cost of filing each year.

      h2 Mutual Funds Or Income Trusts
      .columns--two
        p US persons who own non-U.S. mutual funds trigger another filing requirement that is commonly called “PFIC.”  (Passive Foreign Investment Corporatinificant and comC is held in the year, then the taxpayer is required to file Form 8621.  A separate form is required for each mutual fund held.

        p
          em What is a PFIC?

        p A PFIC is a non-US corporation that has 75% or more of its gross income consisting of passive income or 50% or more of the average fair market value of its assets consists of assets that produce passive income.  Passive income includes, among other things, dividends, interest, rent, royalties and capital gains from the disposition of securities.

        p In 2010, the Internal Revenue Service (IRS) issued a clarification that Canadian mutual funds are classified as corporations for US tax purposes and, as such, are subject to the PFIC rules.

        p When completing these forms, a decision is required for the basis of how to report income.  These are as follows:

        ol
          li Mark-to-Market election
            p Under the Mark-to-Market election, invesve income or 50% or more of the average fair market value of its assets consists of assets that produce passive income.  Passive ince; and

            ul
              li Recognize all increases/decreases to the value of the fund as a gain/loss on their holdings as if the funds were sold at the end of each year.

          li Qualified Electing Fund (QEF) election

        p Under the QEF election, investors must,ve income includes, among other things, dividends, interest, rent, royalties and capital gains from the disposition of securarnt, royalties and capital gains from the disposition of securofies.

        p The Mark to Market election means that the US person will pay a higher rate of tax as income such as dividends and capital gains are not given their usual lower rates and that if there is a large unrealized gain held in the fund, you could end up paying a large amount of tax.

        p Generally speaking the QEF election will more closely resemble the Canadian tax rules as most mutual funds allocate out their income each year.  But each fund should be assessed separately.

        p A good deal of the information that is required for completion of Form 8621 will have to come from your investment advisor.  We strongly suggest that any U.S. person holding Canadian mutual funds contact their investment adviser to confirm what information they will be providing to their clients in order to allow you to file the PFIC report.  If this is gathered prior to coming into our office, it will significantly help to reduce the cost of preparing these reports.

        p Why PFIC’s are such a concern for US persons

        p There are several reasons that PFIC’s are a concern and these are as follows:

        ol
          li The additional cost to file your tax return each year.  On the IRS instruction for the forms, they suggest that you can spend 11 hours record keeping and 20 hours on preparing the form!

          li The potential to pay tax at a high rate to the US, and not receive any tax credits for those US taxes in Canada. Depending upon the income, it is possible to pay a 50% tax rate on some income.

        p
          em The Impact of FATCA on PFIC’s

        p Prior to 2014, some U.S. persons did not file PFIC reports. The rules allowed for this to be deferred.  Starting in 2014, the U.S. instituted a new law called “FATCA.”  (Foreign Account Tax Compliance Act).  This is the law that forces countries and banks around the world to share with the IRS information on accounts held by U.S. persons.

        p FATCA makes PFIC reporting a must for Non-U.S. Mutual Funds.  The FATCA legislation requires “foreign financial institutions” to report on the assets held by U.S. citizens and U.S. permanent residents to the IRS.   In Canada, this tracking and reporting started July 1, 2014.   The likely outcome of this tracking is that the IRS will now have reports of holdings in foreign financial institutions.

        p Therefore the IRS will be able to cross reference other forms or reports to verify if PFIC investments have been reported properly.

        p As with other areas of U.S. tax, penalties for non-compliance can be quite substantial.

        p What will we require in order to prepare form 8621?

        p Under the QEF election, investors must, on an annual basis, include their pro-rata share of the mutual fund’s earned income for US tax purposes.

        p The Mark to Market election means that the US person will pay a higher rate of tax as income such as dividends and capital gains are not given their usual lower rates and that if there is a large unrealized gain held in the fund, you could end up paying a large amount of tax.

        p Generally speaking the QEF election will more closely resemble the Canadian tax rules as most mutual funds allocate out their income each year.  But each fund should be assessed separately.

        p A good deal of the information that is required for completion of Form 8621 will have to come from your investment advisor.  We strongly suggest that any U.S. person holding Canadian mutual funds contact their investment adviser to confirm what information they will be providing to their clients in order to allow you to file the PFIC report.  If this is gathered prior to coming into our office, it will significantly help to reduce the cost of preparing these reports.

        p Why PFIC’s are such a concern for US persons

        p There are several reasons that PFIC’s are a concern and these are as follows:

        ol
          li The additional cost to file your tax return each year.  On the IRS instruction for the forms, they suggest that you can spend 11 hours record keeping and 20 hours on preparing the form!

          li The potential to pay tax at a high rate to the US, and not receive any tax credits for those US taxes in Canada. Depending upon the income, it is possible to pay a 50% tax rate on some income.

        p
          em The Impact of FATCA on PFIC’s

        p Prior to 2014, some U.S. persons did not file PFIC reports. The rules allowed for this to be deferred.  Starting in 2014, the U.S. instituted a new law called “FATCA.”  (Foreign Account Tax Compliance Act).  This is the law that forces countries and banks around the world to share with the IRS information on accounts held by U.S. persons.

        p FATCA makes PFIC reporting a must for Non-U.S. Mutual Funds.  The FATCA legislation requires “foreign financial institutions” to report on the assets held by U.S. citizens and U.S. permanent residents to the IRS.   In Canada, this tracking and reporting started July 1, 2014.   The likely outcome of this tracking is that the IRS will now have reports of holdings in foreign financial institutions.

        p Therefore the IRS will be able to cross reference other forms or reports to verify if PFIC investments have been reported properly.

        p As with other areas of U.S. tax, penalties for non-compliance can be quite substantial.

        p What will we require in order to prepare form 8621?

        ul
          li Name of the PFIC (mutual fund)
          li Address, including street, city, province and postal code.
          li A description of the units held and number of units held at the end of the year.
          li Details of any units purchased or sold during the year
          li Details of distributions received in the year.
          li Value of the investment at the end of the year.
          li A copy of the PFIC annual Information Statement from the mutual fund

        p Exception to filing – De Minimis exception

        p A taxpayer is not required to file Form 8621 for a PFIC under the Section 1298(f) requirement if either the total value of all PFIC stock owned directly or indirectly by the taxpayer is less than $25,000 US Dollar ($50,000 US Dollar for married filing jointly) or if the PFIC is owned indirectly and its value is less than $5,000.

      h2 I Have More Questions. Where Can I Get More Information?
      .columns--two
        p Please make an appointment with one of our U.S. tax specialists.  Call our office at 250-758-5557.  In addition, the IRS has free copies of these forms available on their site.  Simply type into Google the form number.  The form and related instructions are usually listed at the top of the search results.  li Name of the PFIC (mutual fund)
          li Address, including street, city, province and postal code.
          li A description of the units held and number of units held at the end of the year.
          li Details of any units purchased or sold during the year
          li Details of distributions received in the year.
          li Value of the investment at the end of the year.
          li A copy of the PFIC annual Information Statement from the mutual fund

        p Exception to filing – De Minimis exception

        p A taxpayer is not required to file Form 8621 for a PFIC under the Section 1298(f) requirement if either the total value of all PFIC stock owned directly or indirectly by the taxpayer is less than $25,000 US Dollar ($50,000 US Dollar for married filing jointly) or if the PFIC is owned indirectly and its value is less than $5,000.

      h2 I Have More Questions. Where Can I Get More Information?
      .columns--two
        p Please make an appointment with one of our U.S. tax specialists.  Call our office at 250-758-5557.  In addition, the IRS has free copies of these forms available on their site.  Simply type into Google the form number.  The form and related instructions are usually listed at the top of the search results.

  section#canadian-us-income
    h1 Canadians With U.S. Income

    .columns--two
      p Over their life, many Canadians end up with some U.S. Income.  It might be winnings from a Casino, it might be the sale of a vacation home, a rental home in Phoenix, or pension income from time spent working in the U.S.  All of these sources of income trigger either the requirement to file a U.S. tax return, or the need to in order to get a refund of taxes withheld.

      p KMA is able to answer your questions and prepare the tax returns and/or forms needed.

    h2 Gambling Winnings
    .columns--two

      p While gambling winnings in Canada are generally non-taxable, they are in the U.S.  If you have winnings at a U.S. Casino, you may end being subject to a U.S. 30% withholding tax.  If taxes are withheld, the Casino should issue you a form 1042-S that should report your winnings and the taxes withheld.

      p In order to get some or all of the taxes back, you will need to do the following:

      ul
        li If you do not already have one, obtain a U.S. tax number (called an ITIN).  KMA can help you obtain an ITIN.  These numbers are valid for a minimum of five years.
        li Track your losses for the year.  Under U.S. tax law, you can offset your losses against your wins.  So having a house card that allows you to track your losses is a good idea because it provides the records that the IRS may request to verify the losses.
        li File a 1040-NR (a U.S. tax return for non-residents).  You only need to file a U.S. return when you have reportable income. KMA can prepare this and the W-7 for the ITIN.

    h2 Vacation Home Sale
    .columns--two
      p If you sell a vacation home in the U.S., you may be subject to withholding taxes by both the federal and possibly state government.  Generally, a 10% (of the gross sales price) federal withholding tax will be applied.  Depending upon the state your property is located in, (E.g. California) that state may require a withholding tax as well. Individuals can apply to reduce the withholding tax, but many times this process is not done in a timely manner and the withholding is deducted.

      p There is another exception that if the property sells for less than $300,000 and the purchaser signs a statement saying that they intend to use it as a personal use residence at least 50% of the time over the next two years.

      p Any person who sells a property is required to file a U.S. return (1040-NR).  In order to file the 1040-NR, you will need the following:

      ul.breakable
        li If you do not already have one, obtain a U.S. tax number (called an ITIN).  KMA can help you obtain an ITIN.  These numbers are valid for a minimum of five years.
        li What you originally paid for the property.  It is usually a good idea to provide KMA with copies of the original purchase documents as there are closing adjustments that need to be taken into consideration.
        li If you have done any major repairs or improvements, copies of the invoices.  With this information, KMA can review the information to determine if these represent additions to your cost basis.
        li Copies of the sales documents.  Your escrow agent should provide these and the U.S. tax forms that report any taxes withheld.
        li Copy of the 1099-S or 1042-S received that are related to the sale.

      p If a couple has both names on title, both of them will have to file a U.S. tax return.

      p A common question we are asked is, “Do I really have to file a U.S. tax return?”  Under U.S. law you are required to, but in addition, you should do so for Canadian tax purposes.  As a resident of Canada, you are subject to tax on your worldwide income.  So if you have a capital gain on the sale of the U.S. vacation property, you are required to report this on your Canadian tax return, and it may also trigger the requirements to file form T1135.

      p This will not necessarily lead to double taxation as you can claim a tax credit for tax paid to the U.S.  But in order to do this, it has to be based upon a U.S. tax return, not just the withholding taxes paid.  A common misconception about withholding taxes is that they are the final tax bill.  Withholding taxes are only an installment towards the final tax bill.  It is not until the return has been prepared and the final tax bill calculated that you will know what the correct amount for the foreign tax credit will be.  You may end with a refund, or owing a bit more.

    h2 U.S. Rental Property
    .columns--two
      p After the U.S. housing crash in 2008, many Canadians bought U.S. real estate as investment.  Many continue to do so.  As you have income from real property in the U.S., you are required to file a U.S. tax return each year.  Depending upon where the property is located, you may have to file a State Tax Return as well.

      p A couple of common misconceptions about owing real estate in the U.S.:

      ul.breakable
        li It is not taxable in Canada as it is income in the U.S.  That is not correct.  As a resident of Canada, you are taxed on your worldwide income.  In many instances, there are losses in the initial years of ownership, so reporting the rental actually may save you taxes.  In addition, you may meet the T1135 foreign income verification statement.  This is a form that is required for Canadians with more than $100,000 of investment assets outside of Canada.
        li Since I am losing money, I won’t owe money to the U.S., so why bother reporting.  The truth is that the IRS has the ability to deny deductions (expenses) if a return is filed more than 18 months late.  This means that the losses that you incurred will not be allowed to be offset against the gain on the sale of the property.  So it is absolutely essential that you file each year in order to preserve the losses so that they can be used in the future.

      p
        em What do we need in order to file your U.S. return?

      ul.breakable
        li If you do not already have one, obtain a U.S. tax number (called an ITIN).  KMA can help you obtain an ITIN.  These numbers are valid for a minimum of five years.
        li A summary of rent and expenses for the year.  You should receive a 1099-Misc from your rental agent in the US that shows the amount of rent collected in the year.  In addition, most rental agencies will provide you a yearly summary of expenses they paid on your behalf.  If you have additional expenses that you incurred directly, please provide a list of those.
        li If you purchased or sold the property in the year, we will need the purchase documents, including the Escrow statement.
        li If you purchased furniture or other equipment in the year, we will need copies of the invoices.
        li We will need to know the number of days the property was rented and the number of personal use days.

      p While there are many similarities between Canada and the U.S. for the calculation of your net rental income, there are a few major differences.  The key difference is that depreciation as calculated for tax purposes is a mandatory deduction.  In Canada, capital cost allowance (the Canadian equivalent to depreciation) is an optional deduction.

      p As a result of the depreciation deduction, it is very common for rental property owners to not pay U.S. taxes on a year to year basis.

      p Another difference between Canada and the U.S. is that if you rented the property for less than 15 days in the year, you are not necessarily required to report the income, regardless of the amount of rent actually collected.  This unusual rule was introduced in anticipation of the 2002 Salt Lake City Winter Olympic Games.

    h2 Royalties
    .columns--two
      p Over the last few years, a number of Canadians with historic ties to the U.S. have found themselves in possession of Oil royalties.  This is typically sub-surface rights that have passed from generation to generation and with the recent changes in oil extraction technology, are now finding that there are wells on their property and producing royalties worth a considerable sum.

      p These royalties are typically subject to a 30% withholding rate.  With KMA’s assistance, we have helped a number of clients make the necessary elections and get back some or all of these taxes.

    h2 Working In The U.S.
    .columns--two
      p If you worked as an employee of a U.S. Company during the year, and you were not there as a green card holder, you still have to file a U.S. tax return.  You should receive a W-2 from your employer, and your 1040-NR is due by April 15th each year.  KMA can prepare this return for you.  We can review what deductions might be available to you.

    h2 Inheritances
    .columns--two
      p Generally speaking, inheritances are tax free.  There are situations though, where the executor of the estate, may need to allocate out some of the income that the estate is generating, to beneficiaries.  An estate usually generates income when there are assets held during the probate period.

      p One of the differences between Canadian and U.S. tax laws is the taxation of estates.  Many times in Canada, it is beneficial to leave the income in the estate, and have it pay the taxes.  The reason is that the estate gets to use the same marginal tax rate as an individual.

      p I n the U.S., it is the opposite.  Generally speaking, the tax rate on estates is at the top marginal tax rate. So in the US, it is quite common for executors to allocate out this income to beneficiaries as it will likely result in an overall lower tax bill.

      p If you are a beneficiary of a U.S. estate, you will be given a K-1 slip from the estate.  KMA can prepare your U.S. return.  You will need to complete this return before your Canadian return, as the income that is shown on the K-1 is taxable in Canada as well.  You need the U.S. return in order to be able to properly claim foreign tax credits on your Canadian return.

    h2 Pensions, 401Ks And IRA
    .columns--two
      p If you worked in the United States for one or more years, it is very likely that you put some money in either IRA or have a company pension.   When you receive a payment from one of these retirement vehicles, it is taxable in the United States.  In addition, the administrators will withhold at least 15% tax.

      p When you have these types of income, you should file a U.S. tax return (1040-NR) in order to get the correct amount of taxes paid to the U.S.  The Canada Revenue Agency (CRA) will normally only accept the tax calculation from the tax return, not the amount of withholdings.

      p A common misconception is that if taxes are withheld at source the amount withheld is the final tax bill.  That is incorrect.  The amount withheld is only considered an installment towards the final tax bill.  It is very likely that the actual tax bill will be different.

      p KMA can assist you with this filing each year and many of the related questions on U.S. withholding taxes.
